h3.tit {
  font-weight: bold;       /* Texto en negrita */
  font-size: 10px;         /* Tamaño de fuente más pequeño */

}

.logo {
  background-color: rgb(241, 231, 231);
  border-radius: 10%;
  padding: 5%;
}

ion-button {
  --color: #ffffff; /* Color de texto normal */

  &:hover {
    --color: #3138a1; /* Color de texto al pasar el cursor (blanco) */
  }
}

.align-right {
  margin-left: auto !important; /* Empuja el botón hacia el margen derecho */
  display: flex;
  justify-content: flex-end;
}
