<ion-header [translucent]="true">
  <ion-toolbar>
    <!--Mis datos-->
    <ion-title>{{ 'HomePage.Button.Data' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!--Cuenta-->
  <ion-item>
    <ion-input label="{{ 'MyData.Label.User' | translate }}" labelPlacement="floating" [(ngModel)]="user.userName" 
    readonly="true">
    </ion-input>
  </ion-item>

  <!--Correo-->
  <ion-item>
    <ion-input label="{{ 'MyData.Label.Email' | translate }}" labelPlacement="floating" [(ngModel)]="user.email"
    (keyup.enter)="itemPassword.setFocus()">
    </ion-input>
  </ion-item>

  <!--Contraseña-->
  <ion-item>
    <ion-input #itemPassword
    label="{{ 'MyData.Input.Password' | translate }}" type="password" labelPlacement="floating" [(ngModel)]="user.password"
    (keyup.enter)="itemSecretQuestion.setFocus()">
    </ion-input>
  </ion-item>

  <!--Pregunta Secreta-->
  <ion-item>
    <ion-input #itemSecretQuestion
    label="{{ 'MyData.Label.secretQuestion' | translate }}" labelPlacement="floating" [(ngModel)]="user.secretQuestion"
    (keyup.enter)="itemSecretAnswer.setFocus()">
    </ion-input>
  </ion-item>

  <!--Respuesta Secreta-->
  <ion-item>
    <ion-input #itemSecretAnswer
    label="{{ 'MyData.Label.secretAnswer' | translate }}" labelPlacement="floating" [(ngModel)]="user.secretAnswer"
    (keyup.enter)="itemFirstName.setFocus()">
    </ion-input>
  </ion-item>

  <!--Nombre-->
  <ion-item>
    <ion-input #itemFirstName
    label="{{ 'MyData.Label.Name' | translate }}"  labelPlacement="floating" [(ngModel)]="user.firstName"
    (keyup.enter)="itemLastName.setFocus()">
    </ion-input>
  </ion-item>

  <!--Apellido-->
  <ion-item>
    <ion-input #itemLastName
    label="{{ 'MyData.Label.Surname' | translate }}" labelPlacement="floating" [(ngModel)]="user.lastName"
    (keyup.enter)="itemAdress.setFocus()">
    </ion-input>
  </ion-item>

  <!--Educación-->
  <ion-item class="font-size-12">
    <ion-select [(ngModel)]="user.educationalLevel.id" (ionChange)="updateEducationalLevel($event)" label="{{ 'MyData.Label.Education' | translate }}" labelPlacement="floating">
      <ion-select-option *ngFor="let level of educationalLevels" [value]="level.id">
        {{ level.name }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!--Fecha de Nacimiento-->
  <ion-item>
    <ion-label position="stacked">
      {{ "MyData.Label.Birth" | translate }}
    </ion-label>
    
    <div class="date-container">
      <input matInput 
             [matDatepicker]="dateOfBirth" 
             [(ngModel)]="user.dateOfBirth"
             (ionChange)="onDateOfBirthChange($event)" 
             placeholder="dd/mm/yyyy" 
             class="date-width">
    
      <mat-datepicker-toggle matSuffix [for]="dateOfBirth"></mat-datepicker-toggle>
    </div>
    
    <mat-datepicker #dateOfBirth></mat-datepicker>
  </ion-item>
  
  <!--Dirección-->
  <ion-item>
    <ion-input #itemAdress
    label="{{ 'MyData.Input.Adress' | translate }}" labelPlacement="floating" [(ngModel)]="user.address"></ion-input>
  </ion-item>

  <!--Guardar-->
  <ion-button color="primary" expand="full" (click)="saveUser()">
    {{ 'misDatos' | translate }}
    <ion-icon name="checkmark-done-circle-outline"></ion-icon>
  </ion-button>
</ion-content>
