<ion-header>
  <ion-toolbar>
    <!-- Título Gestión de Usuarios -->
    <ion-title>{{ "UsersPage.Header.Title" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let user of user">
      <ion-label>{{ user.firstName }} {{ user.lastName }}</ion-label>
      <!-- Botón de eliminar | Oculto para el usuario admin -->
      <ion-button *ngIf="user.userName !== 'admin'" (click)="deleteUser(user.userName)">
        {{ "UsersPage.Button.DeleteUser" | translate }}
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
