<app-header color="primary"
  (headerClick)="headerClick($event)">
</app-header>
<br>

<ion-content [fullscreen]="true">
  <app-welcome>
  </app-welcome>
  
  <!--
  <app-welcome 
    *ngIf="selectedComponent === 'welcome'">
  </app-welcome>
  -->

  <ng-container *ngIf="!isAdmin">
    <ng-container *ngIf="selectedComponent === 'qrwebscanner'">
      <app-qrwebscanner 
        (scanned)="webQrScanned($event)"
        (stopped)="webQrStopped()">
      </app-qrwebscanner>
    </ng-container>
  
    <app-dinosaur 
      *ngIf="selectedComponent === 'dinosaur'">
    </app-dinosaur>
  </ng-container>
  
  <app-forum 
    *ngIf="selectedComponent === 'forum'">
  </app-forum>
  
  <app-misdatos
    *ngIf="selectedComponent === 'misdatos'">
  </app-misdatos>
  
  <ng-container *ngIf="isAdmin && selectedComponent === 'usuarios'">
    <app-usuarios></app-usuarios>
  </ng-container>
  
</ion-content>

<app-footer
  [isAdmin]="isAdmin"
  (footerClick)="footerClick($event)">
</app-footer>