<app-header color="primary"
  (headerClick)="headerClick($event)">
</app-header>
<br>


<ion-content [fullscreen]="true">
  <app-welcome>
  </app-welcome>

  <ng-container *ngIf="selectedComponent === 'qrwebscanner'">
    <app-qrwebscanner 
      (scanned)="webQrScanned($event)"
      (stopped)="webQrStopped()">
    </app-qrwebscanner>
  </ng-container>
  
  <app-welcome 
    *ngIf="selectedComponent === 'welcome'">
  </app-welcome>

  <app-dinosaur 
    *ngIf="selectedComponent === 'dinosaur'">
  </app-dinosaur>

  <app-forum 
    *ngIf="selectedComponent === 'forum'">
  </app-forum>
  <app-misdatos
  *ngIf="selectedComponent === 'misdatos'">
  </app-misdatos>

  <!-- Componente de Gestión de Usuarios solo para administradores -->
  <ng-container *ngIf="selectedComponent === 'usuarios'">
    <app-usuarios></app-usuarios>
  </ng-container>



</ion-content>

<app-footer
  (footerClick)="footerClick($event)">
</app-footer>